body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    
}

.container .qr {
    background-color: #fff;
    width: 250px;
    height: 450px;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    padding: 15px;
}

.container .qr img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.container .qr .info {
    max-width: 300px;
}

.container .qr .info h3 {
    font-size: 20px;
}

.container .qr .info p {
    color: hsl(220, 15%, 55%);
}